{# Фильтр по статусам #}

{{ form_start(filter_status, ) }}
<div class="w-100">
    {{ form_widget(filter_status.status, {  placeholder : 'Все статусы ...', attr : { 'data-select' : 'select2' }  }) }}
</div>
{{ form_end(filter_status) }}
